@font-face {
    font-family: 'PTSans';
    src:url('/assets/fonts/ptsans.ttf');
}

@font-face {
    font-family:'RobotoSlab';
    src:url('/assets/fonts/RobotoSlab-Regular.ttf');
}

* {
    outline:none;
}

html, body {
    padding:0;
    margin:0;
    overflow-x:hidden;
}

body {
    background:url('/assets/images/background.jpg')fixed;
    background-size:cover;
    background-repeat:no-repeat;
    background-position-x: center;
}

.ccli-image {
    width:50px;
    height:50px;
}

.ccli-text {
    line-height:50px;
}

.ccli-link {
    display:flex;
    flex-direction:row;
    color:#404040;
    font-family:'PTSans';
    text-decoration:none;
    transition:0.1s;
}

.ccli-text {
    padding-left:2em;
}

.cg-item {
    width:20em;
    transition:0.15s;
}

.cgi-image:hover {
    opacity:0.9;
}

.ccl-item {
    margin:2em;
}

.ccl-item:hover {
    opacity:0.8;
}

.cgi-image {
    width:20em;
    height:12em;
    object-fit: cover;
}

.container__gallery {
    background:white;
}

.container__gallery div {
    display:inline-block;
}

.content-container {
    max-width:60.5em;
    margin:17em auto;
}

.cm-head-text {
    font-family:'RobotoSlab';
    color:#404040;
    font-size:2.5em;
    text-align:center;
    background:white;
    padding:0.5em;
    max-width:13em;
    margin:0 auto;
}

.cm-title-text {
    font-family:'RobotoSlab';
    color:white;
    text-align:center;
    margin:2em 0 9em 0;
}

.container__service {
    background:white;
    padding:3em;
    font-family:'RobotoSlab';
    color:#404040;
}

.cs-head-txt {
    font-size:1.6em;
    font-family:'RobotoSlab';
    text-align: center;
    margin:2em;
}

.csl-item {
    padding:1em;
}

.csli-link {
    background:#f5f5f5;
    padding:0.5em;
    transition:0.2s;
    text-decoration:none;
    color:#404040;
}

.csli-link:hover {
    background:gainsboro;
    cursor:default;
}

.rli-photo {
    border-radius:50%;
}

.rl-item {
    width:18em;
    text-align:center;
    margin:5em auto;
    font-family:'RobotoSlab';
}

.rli-review-text {
    text-align:justify;
    font-family: 'PTSans';
    padding:1em;
}

.reviews-list {
    display:flex;
    flex-direction:row;
}

.container__reviews {
    background:white;
}

.rli-name {
    padding:0.5em;
}

.container__contacts {
    background:white;
    padding:3em;
}

.head-text {
    font-size:2em;
    font-family:'RobotoSlab';
    margin:2em;
    text-align:center;
}

.huge-image-container {
    position:absolute;
    width:100%;
    height:120%;
    background:white;
    padding:2em;
    margin:-2em auto 0 auto;
    text-align:center;
    display:none;
}

.hic-image {
    width:50em;
    height:30em;
    object-fit: cover;
    border-radius:5px;
}

#hic2, #hic3, #hic4, #hic5, #hic6, #hic7, #hic8, #hic9, #hic10 {
    display:none;
}

.hic-close-btn {
    color:white;
    background:#404040;
    transition:0.2s;
    border-radius:50%;
    width:20px;
    height:20px;
    padding:0.6em 0.7em;
}

.hic-header {
    padding:2em 0;
}

.hic-close-btn:hover {
    background:gainsboro;
    color:#404040;
    cursor:pointer;
}

@media screen and (max-width:985px) {
    .container__gallery {
        text-align:center;
    }

    .cs-list {
        margin-left:5em;
    }

    .huge-image-container {
        padding:0;
        margin-top:0;
    }
}

@media screen and (max-width:769px) {
    .hic-image {
        width:45em;
        height:30em;
    }
}

@media screen and (max-width:721px) {
    .hic-image {
        width:500px;
        height:300px;
    }
}

@media screen and (max-width:500px) {
    .reviews-list {
        flex-direction:column;
    }

    .cs-list {
        margin-left:-1em;
    }

    .hic-image {
        width:400px;
        height:250px;
    }
}

@media screen and (max-width:412px) {
    .cs-list {
        font-size {
            margin-left:-1em;
            font-size:0.9em;   
        }
    }
}

@media screen and (max-width:376px) {
    .hic-image {
        width:350px;
        height:200px;
    }

    .cs-list {
        margin-left:-2.5em;
        font-size:0.9em;
    }
}

@media screen and (max-width:321px) {
    .cs-list {
        font-size:0.75em;
    }

    .hic-image {
        width:320px;
        height:180px;
    }
}

.cs-head-txt {
    font-size:1.5em;
    text-align:center;
}
